.login-background {
    background-image: url("../assets/StoreImage.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}